image: php

services:
  - mysql:5.7

variables:
  MYSQL_DATABASE: testing
  MYSQL_ROOT_PASSWORD: secret
  MYSQL_HOST: mysql

cache:
  paths:
    - vendor/
    - downloads/

before_script:
  - mkdir -p downloads
  - set -e

  # Install dependencies
  - apt-get update -yqq
  - apt-get install -yqq wget libssl1.1 libssl-dev git libxml2-dev libexpat1-dev libbz2-dev libgmp3-dev libldap2-dev unixodbc-dev libpq-dev libsqlite3-dev libaspell-dev libsnmp-dev libpcre3-dev libtidy-dev lsb-release gnupg2 net-tools libzip-dev libzip4 unzip

  - test -f downloads/couchbase-release-1.0-6-amd64.deb || curl --output downloads/couchbase-release-1.0-6-amd64.deb http://packages.couchbase.com/releases/couchbase-release/couchbase-release-1.0-6-amd64.deb
  - dpkg -i downloads/couchbase-release-1.0-6-amd64.deb
  - apt-get update -yqq

  # Couchbase Server
  - echo "Installing CB Server ..."
  - bash setup_couchbase_server.sh
  - echo "Installing CB Server DONE"

  # Install php extensions
  - docker-php-ext-install pdo_mysql json zip #mbstring mcrypt curl intl gd xml bz2 opcache
  - pecl install couchbase # couchbase-2.4.0 or above
  - docker-php-ext-enable couchbase

  # Install & enable Xdebug for code coverage reports
  - pecl install xdebug
  - docker-php-ext-enable xdebug

  # Install Composer and project dependencies.
  - curl -sS https://getcomposer.org/installer | php
  - php -d default_socket_timeout=1 -d memory_limit=-1 composer.phar global require hirak/prestissimo --prefer-dist --no-ansi
  - php -d default_socket_timeout=1 -d memory_limit=-1 composer.phar install --no-interaction --prefer-dist --profile -vvv --no-ansi

test:php7.2:
  variables:
    DEBIAN_VERSION: 9
    CB_DATABASE: "test-ing"
    CB_VERSION: 6
  image: php:7.2-stretch
  script:
    - php vendor/bin/phpunit --coverage-text --colors=never --coverage-clover=coverage.xml
  tags:
    - docker

test:php7.3:
  variables:
    DEBIAN_VERSION: 9
    CB_DATABASE: "test-ing"
    CB_VERSION: 6
  image: php:7.3-stretch
  script:
    - php vendor/bin/phpunit --coverage-text --colors=never --coverage-clover=coverage.xml
  tags:
    - docker

test:php7.4:
  variables:
    DEBIAN_VERSION: 10
    CB_DATABASE: "test-ing"
    CB_VERSION: 6
  image: php:7.4-buster
  script:
    - php vendor/bin/phpunit --coverage-text --colors=never --coverage-clover=coverage.xml
  tags:
    - docker
